/* styles.css */
body {
    font-family: 'League Spartan', sans-serif;
    background-color: #1c1c1e;
    color: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2c2c2e;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.display-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3a3a3c;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.display {
    border: none;
    background: none;
    color: #f2f2f2;
    font-size: 1.2rem;
    flex-grow: 1;
    padding: 10px;
    font-weight: 600;
}

.copyBtn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
}

.copyBtn img {
    filter: invert(1);
}

.tooltip {
    visibility: hidden;
    width: 60px;
    background-color: #f2f2f2;
    color: #1c1c1e;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    font-weight: 600;
}

.tooltip.active {
    visibility: visible;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.length-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 100%;
    appearance: none;
    height: 5px;
    background: #444;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
}

.check {
    display: flex;
    align-items: center;
}

.check input {
    margin-right: 10px;
}

.strength-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indicator {
    width: 100px;
    height: 10px;
    background: #555;
    border-radius: 5px;
    box-shadow: 0 0 12px 1px #ccc;
}

.generateButton {
    background-color: #444;
    color: #f2f2f2;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.generateButton:hover {
    background-color: #555;
}
